@media only screen and (max-width: 600px) {


  .profileImage{
    top: -120px !important;
  }
  .EditProfileImage{
    bottom: -80px !important;
  }
  .cover{
    height: 60% !important;
  }
  .details{
    height: 40% !important;
  }
  .cover >div{
    background-size: 100% auto !important;
    background-position: center !important;
  }
}

nav{
  border-top: 1px solid rgb(174, 174, 174);
}
.nav-link{
  color: rgb(152, 152, 152) !important;
  border: 0px !important;
  padding-top: 20px;
}
.nav-link:hover{
  color: white !important;
}
.active{
  background-color: transparent !important;
  border: 0px !important;
  border-bottom: 4px solid #673AB7 !important;
  color: white !important;
}
