

<div class="vh-100 wh-100">
  <div class="row h-100 w-100" >
    <div class="col-sm-6">
      <div class="d-flex w-100 h-100" style="justify-content: center; align-items: center;">
        <div class="w-75 text-left">
          <h1 class="main-color" style="font-size: 30px; font-weight: bolder;"><span style="font-size: 60px">T</span>awasol</h1>
          <h2 class="text-muted">Tawasol gives you the ability to connect with people and share what you want with them.</h2>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="d-flex w-100 h-100" style="justify-content: center; align-items: center;">
        <div>

          <h1>Confirm your email</h1>
          <p class="w-75">Wellcom back your email <strong>{{email}}</strong> please confirme it</p>

          <button (click)="Confirme()" mat-flat-button color="primary" class="w-100">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
